<html>
  <head>
    <title>Mumble Administration</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <!-- for iphone/ipod -->
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" />
    <link rel="apple-touch-icon" href="{{ MEDIA_URL }}/mumble/mumble.64x64.png" />
    <link rel="apple-mobile-web-app-capable" content="yes" />

    <link rel="stylesheet"    type="text/css"  href="{{ MEDIA_URL }}/style.css" />
    <link rel="stylesheet"    type="text/css"  href="{{ MEDIA_URL }}/templatestyle.css" />
    <link rel="stylesheet"    type="text/css"  href="{{ MEDIA_URL }}/mumble/style.css"  />
    <link rel="shortcut icon" type="image/png" href="{{ MEDIA_URL }}/mumble/mumble.16x16.png" />

    {% block HeadTag %}
    {% endblock %}
  </head>
  <body bgcolor="#3B69AD">
    <div id="mobilecontent">
        {% block LeftColumn %}
        {% endblock %}
    </div>
    <!-- footer -->
    <div id="footerpanel" style="color:white">
      <ul>
        <li><a href="{% url mumble.views.redir %}" style="color:white">Home</a></li>
        <li><a href="http://bitbucket.org/Svedrin/mumble-django" style="color:white" target="_blank">Mumble-Django</a></li>
      </ul>
    </div>
  </body>
</html>
