{% extends "base.htm" %}
{% block content %}
{% if user.is_authenticated %}
  {% if CurrentUserIsAdmin %}
    <h2>Configure Mumble server</h2>
    <p>Here you can configure your Murmur server in detail.</p>
    <form action="/mumble/admin/{{Mumble.id}}" method="post">
      <table>
        {{ Adminform }}
      </table>
      <input type="submit" />
    </form>
  {% else %}
	<p>Only admins of this server can use this feature.</p>
  {% endif %}
{% else %}
  <p>Only registered users can use this feature.</p>
{% endif %}
{% endblock %}
