{% load mumble_extras %}
<div class="mumble">
  <table cellspacing="0" cellpadding="0" style="width:100%; border:none">
    <tr>
      <td class="mumble" id="server">
        <img src="/static/mumble/mumble.16x16.png" alt="mumble" />
        <a href="mumble://{% if mumbleAccount %}{{ mumbleAccount.name }}@{% endif %}{{ DBaseObject.addr }}/" class="dingen" id="link_server">
          {{ ServerObject.rootName }}
        </a>
      </td>
      <td class="mumble"> </td>
    </tr>
    {% for item in ChannelTable %}
    <tr>
      <td class="mumble mm-left" id="{{ item.1.id }}">
        <span {% spaceless %}
           {% if item.1.is_channel %}
             class="mumble_channel"
           {% else %}
             class="mumble_player"
           {% endif %}
         {% endspaceless %} title="{{ item.1.name }}">
          {% spaceless %}
          {% for num in item.0|mrange %}
            <img src="/static/mumble/linie_v_trans.png" alt="|" />
          {% endfor %}
            <img src="/static/mumble/knoten_v_trans.png" alt="+-"  />
          {% endspaceless %}
          {% if item.1.is_player %}
            <img src="/static/mumble/talking_off.png" alt="player" />
            {{ item.1.name }}
          {% else %}
            {% if item.1.linked %}
              <img src="/static/mumble/channel_linked.png" alt="linked channel"/>
            {% else %}
              <img src="/static/mumble/channel.png" alt="channel"/>
            {% endif %}
            <a href="mumble://{% if mumbleAccount %}{{ mumbleAccount.name }}@{% endif %}{{ DBaseObject.addr }}/{% for chan in item.2 %}{{ chan|urlencode }}/{% endfor %}{{ item.1.name|urlencode }}" class="dingen" id="link_{{ item.1.id }}">{{ item.1.name }}</a>
          {% endif %}
        </span>
      </td>
      <td class="mumble">
        {% if item.1.userid %}
          {% if item.1.isAuthed %}
            <img src="/static/mumble/authenticated.png" alt="authed" title="Authenticated" />
          {% endif %}
          {% if item.1.muted %}
            <img src="/static/mumble/muted_server.png" alt="muted" title="Muted by server" />
          {% endif %}
          {% if item.1.deafened %}
            <img src="/static/mumble/deafened_server.png" alt="deafened" title="Deafened by server" />
          {% endif %}
          {% if item.1.selfmuted %}
            <img src="/static/mumble/muted_self.png" alt="self-muted" title="Muted by themselves" />
          {% endif %}
          {% if item.1.selfdeafened %}
            <img src="/static/mumble/deafened_self.png" alt="self-deafened" title="Deafened by themselves" />
          {% endif %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
