{% extends "base.htm" %}
{% block content %}
{% if user.is_authenticated %}
<h2>Set credentials for Mumble</h2>
<p>Here you can set the credentials that you want to use to login to Mumble.</p>
<form action="/mumble/savereg" method="post">
  <input type="hidden" name="id" value="{{Mumble.id}}" />
  <table>
    <tr>
      <td>Server</td>
      <td>{{Mumble.name}}</td>
    </tr>
    <tr>
      <td>Username/Login</td>
      <td><input name="username" {% if Reg %}value="{{Reg.name}}"{% endif %} /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input name="password" type="password" /></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" /></td>
    </tr>
  </table>
</form>
{% else %}
  <p>Only registered users can use this feature.</p>
{% endif %}
{% endblock %}
