{% extends "index.html" %}
{% comment %}
  <!-- kate: space-indent on; indent-width 2; replace-tabs on; -->
{% endcomment %}
{% load mumble_extras %}
{% load i18n %}
{% block Headline %}
  {{ DBaseObject.name }}
{% endblock %}
{% block ContentMaster %}
  <div id="ext_container"></div>
{% endblock %}
{% block HeadTag %}
  <script type="text/javascript" src="{{ MEDIA_URL }}/js/mumble.js"></script>
  <script type="text/javascript">
    Ext.onReady( function(){
      render_mumble( "ext_container", "{% url mumble.views.cvp_json DBaseObject.id %}" );
      } );
  </script>
{% endblock %}
