{% extends "index.html" %}
{% comment %}
  <!-- kate: space-indent on; indent-width 2; replace-tabs on; -->
{% endcomment %}
{% load mumble_extras %}
{% load i18n %}
{% block Headline %}
  {{ DBaseObject.name }}
{% endblock %}
{% block ContentMaster %}
  <div id="ext_container"></div>
{% endblock %}
{% block HeadTag %}
  <script type="text/javascript" src="/jsi18n/"></script>
  <script type="text/javascript" src="/mumble/api/api.js"></script>
  <script type="text/javascript" src="/mumble/forms/api.js"></script>
  <script type="text/javascript" src="/mumble/forms/mumbleform.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}/js/channelviewer.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}/js/usereditor.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}/js/mumble.js"></script>
  <script type="text/javascript">
    Ext.onReady( function(){
      render_mumble( "ext_container", {
        data:         "{% url mumble.views.cvp_json DBaseObject.id %}",
        django_users: '{% url mumble.views.djangousers %}',
        mumble_users: '{% url mumble.views.users DBaseObject.id %}',
        gravatar:     "{{ MumbleAccount.gravatar }}",
        myavatar:     "{% url mumble.views.showTexture DBaseObject.id MumbleAccount.id %}",
        } );
      } );
  </script>
{% endblock %}
