{% extends "index.htm" %}
{% load mumble_extras %}
{% block Content %}
<div class="rahmen">
  <h1>Imprint</h1>
  <p>
    This is <a href="http://bitbucket.org/Svedrin/mumble-django/">Mumble-Django</a>, a Murmur config application for Django that configures a Mumble server. It is able to create and remove server instances, start/stop them, and configure them.<br />
    <br />
    Furthermore, registered Django users can sign up for user accounts on the configured vservers and change their registration names and passwords, and Django admins can manage server admins through the webinterface.<br />
    <br />
    It is being developed by <a href="mailto:diese-addy@funzt-halt.net">Michael "Svedrin" Ziegler</a>, who can be contacted via <a href="mailto:diese-addy@funzt-halt.net">e-Mail</a>, <a href="jabber://mistagee@jabber.funzt-halt.net/">Jabber</a> or IRC (Svedrin in <a href="irc://freenode.net/#mumble">Freenode</a>).
  </p>
  <p>
    The default design is based on <a href="http://www.yaml.de">YAML, Yet Another Multicolumn Layout</a> by Dirk Jesse.
  </p>
</div>
{% endblock %}
