{% extends "index.htm" %}
{% load i18n %}

{% block Headline %}Profile{% endblock %}

{% block Content %}
<h2 class="profile">Profile of {{user|capfirst}}</h2>
<div class="profile">
  <h4>Statistics</h4>
  <ul>
    {% if mumbleaccs %}
      <li>Mumble Accounts:
        <ul>
        {% for mm in mumbleaccs %}
          <li>
            {{ mm.name }} on Server <a href="{% url mumble.views.show mm.server.id %}">{{ mm.server.name }}</a>
          </li>
        {% endfor %}
        </ul>
      </li>
    {% endif %}
  </ul>
</div>
<div class="profile">
  <h4>Account</h4>
  <ul>
    <li>Full Name: {{ user.first_name }} {{ user.last_name }}</li>
    <li>E-Mail Adress: {{ user.email }}</li>
    <li>Staff: {% if user.is_staff %} yes <a href="{% url admin:index %}">(admin area)</a> {% else %} no {% endif %}</li>
    <li>Sign-up date: {{ user.date_joined|date }} {{ user.date_joined|time }}</li>
    <li>Last login: {{ user.last_login|date }} {{ user.last_login|time }}</li>
    <li><a href="{% url django.contrib.auth.views.password_change %}">Change Password</a></li>
    <li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
  </ul>
</div>
{% endblock %}

