{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block PageTitle %}Mumble Administration{% endblock %}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet"    type="text/css"  href="{{ MEDIA_URL }}/ext-3.2.0/resources/css/ext-all.css" />
    <link rel="stylesheet"    type="text/css"  href="{{ MEDIA_URL }}/style.css" />
    <link rel="stylesheet"    type="text/css"  href="{{ MEDIA_URL }}/templatestyle.css" />
    <link rel="stylesheet"    type="text/css"  href="{{ MUMBLE_MEDIA_PREFIX }}css/style.css"  />
    <link rel="shortcut icon" type="image/png" href="{{ MUMBLE_MEDIA_PREFIX }}img/mumble.16x16.png" />

    {% if debug %}
      <script type="text/javascript" src="{{ MEDIA_URL }}/ext-3.2.0/adapter/ext/ext-base-debug.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}/ext-3.2.0/ext-all-debug.js"></script>
    {% else %}
      <script type="text/javascript" src="{{ MEDIA_URL }}/ext-3.2.0/adapter/ext/ext-base.js"></script>
      <script type="text/javascript" src="{{ MEDIA_URL }}/ext-3.2.0/ext-all.js"></script>
    {% endif %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/checkcolumn.js"></script>

    {% block HeadTag %}
    {% endblock %}
  </head>
  <body bgcolor="#3B69AD">
    {% block body %}
    <div id="content">
      <!-- header -->
      <div id="headpanel">
        <div id="headlinks">
          {% if user.is_authenticated %}
            <a href="{% url 'django.contrib.auth.views.logout' %}">{% trans "Log out" %}</a> |
          {% else %}
            <a href="{% url 'django.contrib.auth.views.login' %}">{% trans "Log in" %}</a> |
          {% endif %}
          {% if user.is_staff %}
            <a href="{% url 'admin:index' %}" target="_blank">{% trans "Administration" %}</a> |
            {% if "rosetta" in INSTALLED_APPS %}
              <a href="{% url 'rosetta.views.home' %}" target="_blank">{% trans "Edit translations" %}</a> |
            {% endif %}
          {% endif %}
          <a href="{% url 'views.imprint' %}">{% trans "Imprint" %}</a>
        </div>
        <h2>{% block Headline %}{% endblock %}</h2>
      </div>
      <!-- navi -->
      <div id="navipanel">
        <ul id="navilinks">
          <li><a href="{% url 'mumble.views.redir' %}">{% trans "Home" %}</a></li>
          {% if MumbleActive %}
            <li><b>Mumble</b></li>
          {% else %}
            <li><a href="{% url 'mumble.views.mumbles' %}">Mumble</a></li>
          {% endif %}
          {% if ProfileActive %}
            <li><b>Profile</b></li>
          {% else %}
            <li><a href="{% url 'views.profile' %}">{% trans "Profile" %}</a></li>
          {% endif %}
        </ul>
      </div>
      <!-- content -->
      <div id="contentpanel">
        {% block ContentMaster %}
        <div id="contentleft">
          {% block LeftColumn %}
          {% endblock %}
        </div>
        <div id="contentright">
          {% block Content %}
          {% endblock %}
        </div>
        {% endblock %}
      </div>
      <!-- footer -->
      <div id="footerpanel">
        You are using <a href="http://bitbucket.org/Svedrin/mumble-django" target="_blank">Mumble-Django {{ CURRENTVERSION }}</a> --
        interface built using <a href="http://extjs.com/" target="_blank">ExtJS</a>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
